.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  padding-top: 100px;
  /* background-color: gainsboro; */
  background-image: url(./images/shaah-shahidh-JN4rwu4c7DU-unsplash.jpg);
  background-size: cover;
  margin: 10px;
}
.note-wrapper {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noteA {
  height: 80px;
  width: 100px;
  /* background: #ebdc0a; */
  background-image: url(./images/john-towner-CakC6u4d95g-unsplash.jpg);
  background-size: cover;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.noteC {
  height: 80px;
  width: 80px;
  /* background: #f6c928; */
  background-image: url(./images/luis-graterol-uAROvYw9WDs-unsplash.jpg);
  background-size: cover;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.noteE {
  height: 80px;
  width: 80px;
  /* background: #f8d34f; */
  background-image: url(./images/willian-justen-de-vasconcellos-YIAvaAlAqWk-unsplash.jpg);
  background-size: cover;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.noteG {
  height: 80px;
  width: 80px;
  background: #f9dd76;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.noteD {
  height: 80px;
  width: 40px;
  background: #fcebb1;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.note:active {
  background: blue;
}

h1 {
  color: white;
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
}
