.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  padding-top: 100px;
}
.note-wrapper {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noteA {
  height: 80px;
  width: 100px;
  background: rgb(225, 62, 62);
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.noteC {
  height: 80px;
  width: 80px;
  background: rgb(216, 210, 18);
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.noteE {
  height: 80px;
  width: 80px;
  background: rgb(97, 26, 160);
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.noteG {
  height: 80px;
  width: 80px;
  background: rgb(37, 135, 240);
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.noteD {
  height: 80px;
  width: 40px;
  background: rgb(31, 142, 108);
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.note:active {
  background: blue;
}
